{% extends 'base.html' %}

{% block title %}
Home page
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<h1>Hello there!</h1>

<h2>Flexbox Layout</h2>
<div class="container">
    <div class="box box1">Box 1</div>
    <div class="box box2">Box 2</div>
    <div class="box box3">Box 3</div>
</div>

<h2>HTML Table</h2>

<table>
    <caption>Student Grades Summary</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Course</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Alice</td>
            <td>HTML & CSS</td>
            <td>95</td>
        </tr>
        <tr>
            <td>Bob</td>
            <td>Javascript</td>
            <td>88</td>
        </tr>
        <tr>
            <td>Charlie</td>
            <td>Git & Github</td>
            <td>92</td>
        </tr>
    </tbody>
</table>

{% endblock %}