.contact .contact-card {
  background: #ffffff;
  border: 1px solid #d7dde4;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.04);
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
}

.contact h3 {
  color: darkcyan;
  text-align: center;
}

.contact h5 {
  color: #6c757d;
  margin-bottom: 20px;
  text-align: center;
}
