nav {
  width: 100%;
  margin: 0;
  padding: 5px 20px;
  background-color: #b4c2ce;
}

nav .items {
  display: flex;
  align-items: center;
  list-style: none;
}

nav .items li {
  margin-left: 10px;
  padding: 10px 5px 0 5px;
}

nav .items li a {
  text-decoration: none;
  color: black;
}

nav .items li a:hover {
  text-decoration: underline;
  color: tomato;
}
